<html>
<header>
    <link rel="stylesheet" href="/content/css/flickr.css">
    <script src="/content/javascript/flickr.js" type="text/javascript"></script>
</header>
<body>
    <div id="flickr"></div>
</body>
</html>