<html>
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/content/css/flickr.css">
    <script src="/content/js/flickr.js" type="text/javascript"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="/content/js/tinyMceInit.js"></script>
</header>

<body>
    <div style="width: 60%; float: left">
        <form method="POST" action="/save">
            <div style="margin: 0 auto; width: 80%">
                <input type="text" name="heading" />
                <textarea name="content">Easy (and free!) You should check out our premium features.</textarea>
            </div>
        </form>
    </div>
    <div style="width: 40%; float: right">
        <div id="flickrAlbums"></div>
        <div id="flickrPhotos"></div>
    </div>
</body>

</html>