<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script src="/content/js/tinyMceInit.js"></script>
</head>

<body>
	<form method="POST" action="/save">
	<div style="margin: 0 auto; width: 80%">
		<input type="text" name="heading" />
		<textarea name="content">Easy (and free!) You should check out our premium features.</textarea>
	</div>
	</form>
</body>

</html>