body {
	font: 85%/1 Arial, sans-serif;
}

#flickrPhotos {
	border: 1px solid #ddd;
	margin: 2em auto;
	text-align: center;
	height: 550px;
	overflow-y: overlay
}

#flickrPhotos .images a {
	display: inline-block;
	margin: 0.5em;
}

#flickrPhotos .images a img {
	padding: 5px;
	border: 1px solid #ddd;
}